@charset "utf-8";


.area--UploadForm{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea-word--UploadForm{
    width:95%;
    height:95%;
}

.btn-submit--UploadForm{
    background-color: #00b8d4;
    box-sizing: border-box;
    color:white;
    padding:0.5rem 1rem;
    margin:1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    font-weight: bold;
}
.btn-submit--UploadForm:hover{
    background-color: #62ebff;
}
.area-main--UploadForm{
    width:100%;
    height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.area-sub--UploadForm{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    width:100%;
    height:50vh;
}
.area-control--UploadForm{
    border:1px solid black;
    grid-column: 2/3;
    grid-row: 1/3;
}
.area-result--UploadForm{
    border:1px solid black;
    grid-column: 1/2;
    grid-row: 1/3;
    overflow-y: scroll;
}
.area-name--UploadForm{
    border:1px solid black;
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.box-namelist--UploadForm{
    height:50%;
    width:100%;
    border:1px solid black;
    overflow-y: scroll;
}
.box-evallist--UploadForm{
    height:50%;
    width:100%;
    border:1px solid black;
    overflow-y: scroll;
}

.tbl-namelist--UploadForm{
    border:1px solid black;
    width:100%;
    height:auto;
    margin-top:1rem;
    margin-bottom:1rem
}
tr,th,td{
    border:1px solid black;
}
th {
    background-color: #263238;
    color:white;
}
.tr-namelist--UploadForm:nth-child(odd){
    background-color: #84ffff;
}